{% extends 'common/layout.twig' %}

{# USER NO PERMISSIONS COMPONENT #}
{% block component %} 
<center>
    <p class="flex items-center justify-center mt-20 mb-20 text-2xl text-white font-bold mr-5 ml-5">
        Sorry you dont have permission to access this component
    </p>
</center>
{% endblock %}
